.App-header{
  background-color: #2C4A52;
}
.App{
  background-color: #F4EBDB;
}
#registr{
  right: 0;
}
.content{
  display: block;
  background-color: #F4EBDB;
}
#FontIcon{
  font-size: 30px;
  font-family: 'Dela Gothic One';
}
#buttonReg{
  border: 3px solid #F4EBDB;
  border-radius: 20px;
  right: 1px !important;
  background-color: #2C4A52;
}

a{
  font-family: 'Dela Gothic One';
}
.globalcont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 3px solid #2C4A52;
  border-radius: 20px;
  margin: 15px;
  background: linear-gradient(#2C4A52) no-repeat center/2px 100%;
  width: 980px;
}
.containerLeft{
  border-right: 3px solid #2C4A52 ;
  width: 50%;
  padding: 15px;
}

.containerRight {
  width: 50%;
  padding: 25px;
}

.Content{
  display: flex;
  justify-content: space-around;
  flex-direction: column
}
h1{
  /* height: 200px; */
  display: flex;
  align-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
.img1{
  position: absolute;
  z-index: 1;
}
.img2{
  position: absolute;
z-index: 2;
}